:root{
  --windsor: #580e8b;
  --wisteria:#c78cd9;
  --seance: #ac28a9;
  --snow:#fcf0fc;
}

.App {
  max-width: 860px;
  margin: 40px auto;
}

button {
  background: var(--windsor);
  border: 2px solid var(--windsor);
  padding: 7px 14px;
  border-radius: 10px;
  color: var(--snow);
  font-weight: 400;
  text-transform: capitalize;
  cursor: pointer;
  font-size: 1em;
}

button:hover {
  background: var(--seance);
  color: var(--snow);
}

.card-grid {
  display: grid;
  cursor: pointer;
  margin-top: 40px;
  width: 80.3px;
  height: 80.3px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 0 10px 0 10px;
}