@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Mulish&family=Nabla&family=Seymour+One&display=swap');
:root{
  --windsor: #580e8b;
  --wisteria:#c78cd9;
  --snow:#fcf0fc;
}


body {
  margin: 0;
  font-family: 'Seymour One', 'Handlee',  'Mulish', 'Nabla', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.5em;
  text-align: center;
  background-image: linear-gradient(to bottom right, #e3883f, red);
  color: black;
}

button {
  font-family: 'Handlee', sans-serif;
  background-color: var(--snow);
  font-weight: bold;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

