@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Mulish&family=Nabla&family=Seymour+One&display=swap');

body {
  margin: 0;
  font-family: 'Seymour One', 'Handlee',  'Mulish', 'Nabla', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.5em;
  text-align: center;
  background-image: linear-gradient(to bottom right, #e3883f, red);
  color: black;
}

button {
  font-family: 'Nabla', sans-serif;
  font-weight: 900;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

