:root{
  --windsor: #580e8b;
  --wisteria:#c78cd9;
  --snow:#fcf0fc;
}

body {
  background-image: linear-gradient(to bottom right, var(--wisteria), var(--windsor));
  color: var(--snow);
  padding: 2px;
  height: 100vh;
}

