:root{
    --windsor: #580e8b;
    --wisteria:#c78cd9;
    --snow:#fcf0fc;
  }
div.scoreboard-body {
    background: url('../../../public/images/mel-poole-eo5Hrzyb4D0-unsplash.jpg') no-repeat center;
    background-size: cover;
}

.score-wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scoreboard{
    background-color: rgb(65, 65, 65, .9);
    width: 60vw;
    height: 75vh;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
}

table{
    text-align: center;
    padding: 20px 30px 0px 30px;
    color: var(--windsor);
}
thead{
    font-size: 24px;
    color: var(--wisteria);
}
tbody{
    font-size: 20px;
}

.sb-title-div{
    /* rotate: 100; */
    background-image: linear-gradient(rgb(146, 113, 41), var(--windsor));
    background-clip: text;
}
.sb-title{
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    border-radius: 5px;
    color:transparent;
    
}